<div>
    <h1>Detalles</h1>
    <hr />

    <div class="card mt-3 p-3">
        <h2>
            <a>{{product.name}}</a>
        </h2>
        <div>Category: {{product.category}}</div>
        <div>Description: {{product.description}}</div>
        <div>Price: {{product.price}}</div>
    </div>

    <button class="btn btn-primary mt-3" (click)="onGoBack()">Atras</button>
</div>